<%- include ../partials/header %>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Editar Serie</h2>
        <form method="post">
          <div class="form-group">
            <label for="name">Nome da série</label>
            <input class="form-control" type="text" name="name" aria-describedby="nameHelp" placeholder="Informe o nome"
              value="<%=serie.name%>" />
            <small id="nameHelp" class="form-text text-muted">
              Nome da série a ser salva
            </small>
            <%if( erros && erros.indexOf('name')>=0 ){%>
            <small id="nameHelp" class="form-text text-muted">
              Por favor, informe o nome da série.
            </small>
            <%}%>
          </div>
          <div class="form-group">
            <label for="status">Status da série</label>
            <select name="status" name="status" class="form-control">
              <% labels.forEach(label => { %>
            <option value="<%= label.id%>" <% if(label.id === serie.status) { %> selected <% } %>> <%= label.name%>
            </option>
            <% }) %>
            </select>
          </div>
          <button class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include ../partials/footer.ejs %>