<%- include ../partials/header %>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form method="post">
          <div class="form-group">
            <h2>Sobre a série: <%= serie.name %></h2>
            Nome da série: <%= serie.name %></br>
          </div>

          <% serie.comments.forEach(comment => { %>
          <div class="card">
            <%= comment%>
          </div>
          <% }); %>

          <textarea class="form-control" name="comentario"></textarea>
          <input type="submit" value="Adicionar comentário">

        </form>
      </div>
    </div>
  </div>
</section>

<%- include ../partials/footer.ejs %>